@media (max-width: 1300px) {
    .new--family {
        max-width: 940px;
    }
    
}


@media (max-width: 1199px) {
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow{
           
        &.slick-next{
             
            
            -webkit-transform: scale(0.5, 0.5) translateX(10px);
        -ms-transform: scale(0.5, 0.5) translateX(10px);
        transform: scale(0.5, 0.5) translateX(10px);
        }
        &.slick-prev{
             -webkit-transform: scale(0.5, 0.5) translateX(-85px);
        -ms-transform: scale(0.5, 0.5) translateX(-85px);
        transform: scale(0.5, 0.5) translateX(-85px);
        }
    }
    .new-slider-coments-wr {
        padding: 30px 0 60px 0;
    }
    .howto .slider .item .right .img-resp{
        bottom: -43px;
            max-width: 65px;
    }
    .start.start-bg-stile.shmulskiy-2 {
        padding: 155px 0 80px;
    }
    .shmulskiy .triggers .item{
        top: -83px;
    }
    .shmulskiy .wrap{
        position: relative;
        padding-bottom: 360px;
    }
    .shmulskiy .triggers{
        position: absolute;
           width: 96%;
        bottom: 0;
        left: 0;
            padding: 0 2%;
    }
    .new--family .abs .rel{
        padding-left: 46%;
    }
    .new--family {
        max-width: 860px;
    }
    
}

@media (max-width: 991px) {
    .new--family {
    max-width: 649px;
}
    .new--family .abs .rel .cont-family {
        padding: 1px 25px;
    }
}


@media (max-width: 767px) {
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr{
        height: auto;
    }
    .new-slider-coments-wr .for-slider-wr-new{
        padding-top: 0;
    }
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init {
        padding-bottom: 20px;
    }
    .start.start-bg-stile h2 {
        font-size: 29px;
        line-height: 48px;
    }
    .start.start-bg-stile{
        padding: 100px 0 110px;
    }
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr{
        padding: 15px 10px;
    }
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr{
        padding: 10px 15px;
    }
    .new--family .abs{
        position: relative;
        transform: none;
    }
    .new--family .abs .rel{
        padding-left: 0;
    }
    .new--family .abs .rel .cont-family{
        padding: 10px 2%;
        
    }
    .new--family .abs .rel{
        background:none;
    }
    .new--family .abs .rel .love{
        position: relative;
        transform: none;
        img{
            margin: 0 auto;
            display: block;
            max-width: 100%;
        }
    }
    
    .new--family .abs .rel .cont-family .f{
        margin-top: 0;
    }
    
    
    
}

@media (max-width: 640px) {
    .shmulskiy .wrap{
            padding-bottom: 400px;
    }
    .shmulskiy{
        padding-top: 50px;
    }
    .shmulskiy .triggers .item{
        top: 0;
    }
    .start.start-bg-stile.shmulskiy-2{
        margin-top: -130px;
    }
}



