@media (max-width: 1199px) {
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow{
           
        &.slick-next{
             -webkit-transform: scale(0.5, 0.5) translateX(-105px);
        -ms-transform: scale(0.5, 0.5) translateX(-105px);
        transform: scale(0.5, 0.5) translateX(-105px);
        }
        &.slick-prev{
             -webkit-transform: scale(0.5, 0.5) translateX(15px);
        -ms-transform: scale(0.5, 0.5) translateX(15px);
        transform: scale(0.5, 0.5) translateX(15px);
        }
    }
    .new-slider-coments-wr {
        padding: 30px 0 60px 0;
    }
}

@media (max-width: 767px) {
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr{
        height: auto;
    }
    .new-slider-coments-wr .for-slider-wr-new{
        padding-top: 0;
    }
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init {
        padding-bottom: 20px;
    }
}



