.new-slider-coments-wr{
    padding: 70px 0 100px 0;
    .title{
        letter-spacing: 0.5em;
        margin-bottom: 50px;
    }
    .styles-sl-sec{
        text-align: center;
        font-size: 18px;
        color: #646464;
            line-height: 30px;
        strong{
            color: #000;
        }
    }
    .for-slider-wr-new{
        padding-top: 25px;
        .new-slider-init{
            padding-bottom: 50px;
            .one-slide-wr{
                outline: none;
                padding: 20px 30px;
                transition: 0.3s;
                opacity: 0.3;
                &.slick-center{
                    opacity: 1;
                }
                .image-wr{
                    height: 250px;
                    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                    
                    padding: 25px 35px;
                    img{
                        display: block;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
            }
            .slick-arrow{
                display: block;
                position: absolute;
                bottom: -35px;
                left: 50%;
                font-size: 0;
                display: block;
                width: 60px;
                height: 60px;
                border: 2px solid #3a24ab;
                border-radius: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
               background: #fff;
                padding: 0;
                transition: none;
                &:hover{
                    background: #3a24ab;
                    &.slick-next{
                         &:before{
                            
                             background-position: 0 -44px;
                            height: 20px;
                            width: 12px;
                        }
                    }
                    &.slick-prev{
                         &:before{
                            background-position: 0 0;
                            height: 20px;
                            width: 12px;
                        }
                    }
                   
                }
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate3d(-50%, -50%, 0);
                    -ms-transform: translate3d(-50%, -50%, 0);
                    transform: translate3d(-50%, -50%, 0);
                     background-image: url(../img/sprite-s43daf6fcb9.png);
                    background-repeat: no-repeat;
                    transition: none;
                }
                &.slick-next{
                    transform: translateX(10px);
                    &:before{
                        background-position: 0 -66px;
                        height: 20px;
                        width: 12px;
                    }
                }
                &.slick-prev{
                    transform: translateX(-85px);
                     &:before{
                       
                          background-position: 0 -22px;
                        height: 20px;
                        width: 12px;
                    }
                }
            }
            
        }
    }
   
    
    
}

.start{
    
    &.start-bg-stile{
        background-image: url(../img/bg-1-space.jpg);
        padding: 150px 0 160px;
        background-size: cover;
        background-position: center;
        h2{
            color: #fff;
        }
        &:before{
            height: 32px;
            margin: 0;
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-image: url(../img/white_bg.png);
            background-size: cover;
            background-position: top center;
        }
        &:after{
            bottom: 19px;
        }
    }
} 

.my-rev-new{
   
    padding: 142px 0 75px;
    margin-top: -61px;
    text-align: center;
    background-image: url(../img/rev-bg-new.jpg);
    background-position: center;
    .item {
        max-width: 700px;
        padding: 30px;
        margin: 0 auto 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        img{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    
}

.howto {
	padding: 30px 0 0;
	position: relative;
	.title {
		letter-spacing: 0.5em;
		margin-bottom: 110px;
		@include maxw(860px) {
			margin-bottom: 55px;
		}
	}
	.bx-viewport {
		overflow: visible !important;
	}
	.slider {
		.item {
			position: relative;
			.left {
				width: 50%;
				position: relative;
				@include translate3d(0,-60px,0);
				@include maxw(1440px) {
					@include translate3d(0,-30px,0);
				}
				img {
					display: block;
					width: 100%;
				}
				.number {
					position: absolute;
					top: 40px;
					left: 40px;
					color: rgba(255,255,255,0.3);
					font-family: $font3;
					font-size: 70px;
					font-weight: 300;
					b {
						font-weight: 700;
						color: $white;
					}
					@include maxw(550px) {
						top: 2%;
						left: 2%;
						font-size: 32px;
					}
				}
			}
			.right {
				width: 50%;
				position: absolute;
				right: 0;
				top: 0px;
				height: 100%;
				background: $white;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                .img-resp{
                    position: absolute;
                    display: block;
                    max-width: 100%;
                    right: 48%;
                    bottom: -65px;
                }
				.text {
					padding: 30px;
					text-align: center;
					h3 {
						color: $black;
						font-size: 25px;
						font-weight: 700;
						line-height: 35px;
						@include maxw(1360px) {
							font-size: 18px;
							line-height: 24px;
						}
					}
					p {
						white-space: pre-line;
					}
					color: $black_a;
					font-size: 18px;
					font-weight: 300;
					line-height: 28px;
					@include box-sizing(border-box);
					@include centering(absolute, -50%, -50%, 50%, 50%);
					@include maxw(1360px) {
						font-size: 14px;
						line-height: 19px;
						p {
							white-space: normal;
						}
					}
				}
			}
			@include maxw(860px) {
				.left,
				.right {
					float: none;
					position: static;
					width: 100%;
					height: auto;
				}
				.left {
					@include translate3d(0,0,0);
				}
				.right {
					.text {
						padding: 75px 2%;
						position: static;
						@include translate3d(0,0,0);
					}
				}
			}
		}
	}
	.slider-prev,
	.slider-next {
		position: absolute;
		z-index: 51;
		bottom: 40px;
		@include maxw(1200px) {
			bottom: 0;
		}
		a {
			display: block;
			width: 60px;
			height: 60px;
			text-indent: -9999px;
			border: 2px solid $blue;
			border-radius: 100%;
			@include box-sizing(border-box);
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				@include translate3d(-50%, -50%, 0);
			}
			&:hover {
				background: $blue;
			}
			@include maxw(1200px) {
				@include scale(0.5,0.5);
			}
		}
	}
	.slider-prev {
		right: 130px;
		@include maxw(1200px) {
			right: 40px;
		}
		a {
			&:before {
				@extend .sprite-arrow-left;
			}
			&:hover:before {
				@extend .sprite-arrow-left-white;
			}
		}
	}
	.slider-next {
		right: 40px;
		@include maxw(1200px) {
			right: 0px;
		}
		a {
			&:before {
				@extend .sprite-arrow-right;
			}
			&:hover:before {
				@extend .sprite-arrow-right-white;
			}
		}
	}
}

.howto .slider .item .right .text p{
    strong{
        color: #000;
    }
}

.start.start-bg-stile{
    &.shmulskiy-2{
            padding: 150px 0 110px;
        background-image: url(../img/shmulskiy-2-bg.jpg);
        &:after { 
            @extend .sprite-ico-mouse2; 
        }
        p{
            text-align: center;
            line-height: 28px;
             font-size: 18px;
            &.c1{
                color: #646464;
               
                margin-bottom: 30px;
            }
            &.c2{
                margin-bottom: 30px;
            }
        }
        img{
            display: block;
            max-width: 100%;
            margin: auto;
            margin-bottom: 35px;
        }
        .for-align{
            text-align: center;
        }
    }
}

.shmulskiy {
	margin-top: -60px;
	padding-top: 168px;
	background: url(../img/shmulskiy-1-bg.jpg) no-repeat center top;
	color: $white;
	.text {
		max-width: 650px;
		margin-left: auto;
		margin-right: 0;
		h2, .title {
			text-align: left;
		}
		.title {
			opacity: 0.3;
			letter-spacing: 0.5em;
		}
		p {
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			white-space: pre-line;
			margin: 25px 0 35px;
		}
		ul {
			color: $white_b;
			font-size: 17px;
			line-height: 33px;
		}
	}
	.triggers {
		margin-top: 116px;
		@include maxw(640px) {
			margin-top: 40px;
		}
		.item {
			background: $white;
			padding: 73px 50px 25px;
			height: 250px;
			text-align: center;
			line-height: 28px;
			color: $black_a;
			font-size: 18px;
			font-weight: 300;
			white-space: pre-line;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			span {
				color: $black;
				font-size: 45px;
				font-weight: 500;
				display: inline-block;
				margin-bottom: 34px;
			}
			@include maxw(1200px) {
				padding: 50px 2% 30px;
				height: 180px;
				font-size: 14px;
				line-height: 20px;
				span {
					font-size: 32px;
					margin-bottom: 20px;
				}
			}
			@include maxw(640px) {
				padding: 30px 2% 20px;
				height: auto;
				font-size: 14px;
				line-height: 20px;
				span {
					font-size: 32px;
					margin-bottom: 20px;
				}
				// box-shadow: none;
				margin-bottom: 0 !important;
			}			
		}
	}
	@include maxw(640px) {
		background-position: right -1200px top;
		position: relative;
		z-index: 2;
		.wrap {
			position: relative;
			z-index: 3;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: $black;
			opacity: 0.6;
		}
		.text .title {
			opacity: 1;
			margin-bottom: 20px;
		}
	}
}