$rose_color: #d53257;

.title {
  font-size: 18px;
  font-weight: 700;
}

.header {
  background: #151926 url(#{$imgpath}/header_bg.jpg) no-repeat center top;
  color: $white;
  padding: 20px 30px 60px;
  position: relative;
  @include maxw(350px) {
    padding-left: 2%;
    padding-right: 2%;
  }
  .logo {
    text-indent: -9999px;
    display: block;
    background: url(#{$imgpath}/logo.png) no-repeat center;
    width: 470px;
    height: 60px;
    @include maxw(640px) {
      width: 225px;
      background-position: left center;
    }
  }
  nav {
    font-size: 15px;
    font-weight: 300;
    .sandwich {
      display: none;
    }
    ul {
      text-align: right;
      margin: 10px 0;
      li {
        display: inline-block;
        margin: 0 0 0 25px;
        padding: 0;
        &:before {
          display: none;
        }
        a {
          text-decoration: none;
          @include hover-line-from-left ($white, 1px);
        }
      }
    }
    @include maxw(1400px) {
      font-size: 13px;
      ul li {
        margin-left: 12px;
      }
    }
    @include maxw(1200px) {
      .sandwich {
        display: block;
        cursor: pointer;
        margin-top: 15px;
        width: 40px;
        height: 30px;
        overflow: hidden;
        position: relative;
        z-index: 5;
        span {
          display: block;
          width: 40px;
          height: 2px;
          background: $white;
          margin-bottom: 10px;
          @include transition(all ease-in-out 0.2s);
        }
        &.active {
          span:nth-child(2n) {
            opacity: 0;
          }
          span:first-child {
            @include transform(rotate(45deg) translate(8px,8px));
            @include origin(center,center);
            background: $black;
          }
          span:nth-child(3n) {
            @include transform(rotate(-45deg) translate(10px,-8px));
            @include origin(center,center);
            background: $black;
          }
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        z-index: 4;
        padding: 30px 0;
        background: $white;
        color: $black;
        li {
          display: block;
          text-align: right;
          padding-right: 100px;
          padding-left: 30px;
          line-height: 24px;
          font-size: 16px;
        }
      }
    }
  }
  .wrap {
    margin-top: 10px;
    & > .title {
      opacity: 0.5;
      letter-spacing: 0.3em;
      margin-bottom: 20px;
    }

    .date {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      margin-bottom: 25px;
      position: relative;

      &:before {
        content: '';
        width: 65px;
        height: 1px;
        display: block;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -226px;
        background: $rose_color;
      }
      &:after {
        content: '';
        width: 65px;
        height: 1px;
        display: block;
        position: absolute;
        top: 10px;
        right: 50%;
        margin-right: -220px;
        background: $rose_color;
      }
    }
  }
  h1 {
    font-size: 64px;
    line-height: 75px;
    @include maxw(670px) {
      font-size: 70px;
      line-height: 85px;
    }
    @include maxw(600px) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  @include maxw(1200px) {
    background-position: right -30px top;
    background-size: cover;
  }
  @include maxw(640px) {
    .ticket-wrp {
      margin-top: 40px;
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
      .text {
        ul {
          text-align: left;
        }
      }
    }
  }
}
.ticket-wrp {
  position: relative;
  img {
    position: absolute;
    z-index: 1;
    display: block;
    left: -28px;
    top: -70px;
  }
  .text {
    max-width: 650px;
    margin-right: 0;
    margin-left: auto;
    padding-top: 27px;

    .form {
      margin-top: 30px;

      .about-form {
        font-size: 13px;
        margin-top: 35px;
        display: block;
      }
    }

    .button {
      padding: 0 10px;
      width: 48%;
      font-size: 13px;

      &:first-child {
        background-color: #624dd2;
        margin-right: 2%;
      }

      @include maxw(1100px) {
        width: 70%;
        margin-right: 0;
        margin-bottom: 20px;
      }

      @include maxw(800px) {
        width: 100%;
      }

      @include maxw(400px) {
        font-size: 12px;
      }
    }

    p {
      font-size: 17px;
      line-height: 24px;

      &.title {
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-transform: none;
        margin-top: 6px;
        margin-bottom: 25px;
      }
    }
  }
  @include maxw(1200px) {
    img {
      width: 30%;
      height: auto;
      left: 2%;
      top: 50%;
      @include translate3d(0, -50%, 0);
    }
    .text {
      max-width: 65%;
    }
  }
  @include maxw(640px) {
    img {
      position: static;
      display: block;
      margin: 0 auto 20px;
      width: 300px;
      @include translate3d(0,0,0);
    }
    .text {
      max-width: 100%;
      h2 {
        text-align: center !important;
      }
      h2 {
        margin-top: 15px;
      }
      .about-form {
        text-align: center;
      }
    }
  }
}

.start {
  background: #14181c url(#{$imgpath}/start_bg.jpg) no-repeat center top;
  color: black;
  padding: 150px 0 108px;
  position: relative;
  @include maxw(980px) {
    padding: 100px 0;
  }
  @include maxw(450px) {
    padding: 70px 0 40px;
  }
  .title {
    letter-spacing: 0.5em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 55px;
    line-height: 72px;
    @include maxw(450px) {
      font-size: 50px;
      line-height: 65px;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    @extend .sprite-ico-mouse;
    left: 50%;
    bottom: -15px;
    margin: 0 0 0 -9px;
  }
}

.again {
  background: url(#{$imgpath}/again_bg.png) no-repeat center top;
  padding: 130px 0 150px;
  background-size: cover;

  @include maxw(750px) {
    padding: 80px 0 50px;
  }

  @include maxw(640px) {
    padding: 60px 0;
  }

  h2 {
    color: white;
    text-align: left;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 50px;

    @include maxw(640px) {
      font-size: 60px;
      margin-bottom: 35px;
    }
  }

  ul {
    li {
      color: #b9babb;
      font-size: 18px;
      margin-bottom: 15px;

      &:before {
        width: 10px;
        background: url(../img/again_marker.png) 0 0;
      }
    }
  }
}

.know-more {
  position: relative;
  @extend .clearfix;
  .right {
    width: 50%;
    background: $white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
    z-index: 1;
    .text {
      padding: 30px;
      @include box-sizing(border-box);
      @include centering(absolute, 0, -50%, auto, 50%);
      @include maxw(1620px) {
        margin-top: 0;
      }
      h2 {
        @include maxw(1700px) {
          font-size: 60px;
        }
        @include maxw(1366px) {
          font-size: 50px;
        }
      }
      .title {
        letter-spacing: 0.5em;
        margin: 5px 0 0;
      }
      p {
        line-height: 26px;
        white-space: pre-line;
        color: $black_a;
        font-size: 16px;
        font-weight: 300;
        &.big_text {
          font-weight: 700;
          font-size: 25px;
          color: black;
          margin: 30px 0;
        }
        @include maxw(1620px) {
          /*white-space: normal;*/
        }
      }
      a {
        letter-spacing: 0.2em;
        margin-top: 30px;

        @include maxw(430px) {
          font-size: 11px;
          padding: 0 10px;

          i {
            margin-right: 7px;
          }
        }
      }
    }
  }
  .left {
    width: 50%;
    height: 600px;
    background: url(#{$imgpath}/know_more.jpg) no-repeat center;
  }
  @include maxw(1200px) {
    .left,
    .right {
      width: 100%;
      max-width: 100%;
      float: none;
      clear: both;
      position: static;
      margin: 0 !important;
      height: auto;
      .text {
        @include centering(static,0,0,0,0);
      }
    }
    .left {
      height: 600px;
      background-size: cover;
    }
    .right {
      padding-bottom: 0;
    }
  }
  @include maxw(640px) {
    .right {
      .text {
        padding: 30px 2%;
      }
    }
    .left {
      height: 300px;
    }
  }
}
.lift-up {
  margin-top: -60px;
  position: relative;
  z-index: 2;
}

.programm {
  background-color: #0e1319;
  background-repeat: no-repeat;
  background-image: url(#{$imgpath}/programm_bg.jpg);
  background-position: center top;
  color: $white;
  padding: 140px 0 148px;

  h2 {
    margin-bottom: 80px;
  }

  @include maxw(1200px) {
    padding-top: 85px;
  }
  @include maxw(980px) {
    padding-bottom: 50px;
  }
  @include maxw(640px) {
    padding-top: 40px;

    h2 {
      margin-bottom: 50px;
    }
  }

  .day {
    margin-bottom: 30px;
    .top {
      @extend .clearfix;
      border-bottom: 2px dotted rgba(255,255,255,0.2);
      padding-bottom: 8px;
      position: relative;
      .timing {
        float: left;
        width: 245px;
        padding-top: 7px;
        margin-right: 30px;
        color: white;
        font-size: 18px;
        font-weight: 100;
        text-transform: uppercase;
        span {
          display: block;
          padding-left: 40px;
          position: relative;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
          }
          &.date:before { @extend .sprite-ico-date; }
          &.time:before { @extend .sprite-ico-time; }
        }
      }
      .title {
        width: 670px;
        float: left;
        color: $white;
        font-size: 29px;
        font-weight: 500;
        line-height: 40px;
        text-align: left;
        margin: 0;
        text-transform: none;

        span {
          display: block;
          font-size: 20px;
          font-weight: 100;
          letter-spacing: 0.7em;
          text-transform: uppercase;
        }

        @include maxw(980px) {
          width: auto;
        }
        @include maxw(720px) {
          width: 100%;
          margin-top: 20px;
        }
        @include maxw(450px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
      .number {
        opacity: 0.02;
        font-family: $font3;
        font-size: 200px;
        font-weight: 700;
        line-height: 150px;
        height: 96px;
        overflow: hidden;
        position: absolute;
        right: -10px;
        bottom: 20px;
      }
    }
    .text {
      padding: 16px 0 25px 275px;
      color: #b9babb;
      font-size: 16px;
      font-weight: 100;
      line-height: 26px;
      @include maxw(1200px) {
        padding-left: 0;
      }
      h4 {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        margin: 20px 0 18px;
      }
      ul {
        font-weight: 300;
      }
      p {
        white-space: pre-line;
      }
    }
  }
  .button {
    display: block;
    margin: 0 auto;
    width: 350px;
    max-width: 100%;
  }
  div.button i {
    @extend .sprite-rol;
  }
}

.new_year {
  background: url(../img/new_year_bg.jpg?v=1.1) no-repeat center top;
  background-size: cover;
  color: white;
  padding: 130px 0 455px;
  text-align: center;

  .title {
    font-size: 16px;
    letter-spacing: 0.5em;
  }

  h2 {
    font-size: 55px;
    line-height: 70px;
    margin: 35px 0 40px;
  }

  p {
    white-space: pre-line;
    font-size: 20px;
    font-weight: 100;
  }

  a {
    margin-top: 55px;

    @include maxw(340px) {
      padding: 0 28px;

      i {
        margin-right: 5px;
      }
    }
  }

  @include maxw(1100px) {
      padding-bottom: 355px;
  }

  @include maxw(640px) {
    padding: 70px 0;

    a {
      margin-top: 45px;
    }
  }
}

.whats-next {
  padding: 445px 0 250px;
  background: url(#{$imgpath}/bonus1_bg.jpg?v=1.1) no-repeat left top;

  .wrap {
    position: relative;
  }

  .bonus_top {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;

    @include maxw(640px) {
      font-size: 25px;
    }
  }
  h2 {
    font-size: 70px;
    margin: 5px 0 50px;
  }
  .macbook {
    float: right;
    margin: 10px -97px 0 -70px;
    position: relative;
    &.free {
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 53px;
        top: -48px;
        @extend .sprite-ico-free;
      }
    }
  }
  .text-wrp {
    font-size: 16px;
    line-height: 26px;
    color: $black_a;
    font-weight: 300;
    ul {
      color: $black;
      font-weight: 500;
      font-size: 17px;
      margin: 30px 0;
    }

    p {
      font-size: 18px;
      color: black;
      white-space: pre-line;
      line-height: 28px;
      font-weight: 300;

      &.big_text {
        font-size: 25px;
        font-weight: 700;
        color: black;
        line-height: 35px;
      }

      &.grey {
        font-size: 17px;
        line-height: 27px;
        color: #646464;
        margin: 25px 0;
      }
    }
  }
  @include maxw(1200px) {
    background-size: cover;
    background-position: left top;
    padding-bottom: 260px;
    .macbook {
      float: none;
      margin: 20px auto;
      text-align: center;
      max-width: 640px;
      width: 100%;
      img {
        width: 100%;
      }
      &.free:after {
        right: 0;
      }
    }
    .text-wrp {
      p {
        white-space: normal;
      }
    }
  }
  @include maxw(1100px) {
    padding-top: 345px;
  }
  @include maxw(860px) {
    padding-top: 45px;

    .bonus_top {
      margin-bottom: 30px;
    }
  }
  @include maxw(640px) {
    h2 {
      line-height: 80px;
    }
  }
  @include maxw(500px) {
    padding-bottom: 305px;
  }
}

.header_footer {
  background-image: url('../img/bonus2_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  position: relative;
  padding-top: 225px;
  padding-bottom: 85px;

  @include maxw(500px) {
    padding-top: 285px;
  }

  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .clearfix {
    clear: both;
  }

  h2 {
    color: white;
    font-size: 60px;

    @include maxw(860px) {
    	line-height: 85px;
    }
  }

  .hf-title-regular {
    color: white;
    font-size: 16px;
    line-height: 18px;
    cursor: default;
    letter-spacing: 8px;
    margin-top: 50px;
    text-transform: uppercase;
  }

  .hf-title-2 {
    color: white;
    font-size: 20px;
    font-style: normal;
    white-space: pre-line;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 75px;

    strong {
      font-size: 25px;
    }

    @include maxw(860px) {
    	margin: 20px 30px 75px;
    }
    @include maxw(767px) {
    	margin-bottom: 20px;
    }
  }

  ul {
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 50px;

    @include maxw(860px) {
    	margin-left: 20px;
    }

    li {
      color: #b9babb;
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 14px;
    font-style: italic;
    color: #b9babb;
    margin-left: 60px;
    margin-top: 40px;
    white-space: pre-line;
    line-height: 20px;

    @include maxw(1200px) {
    	white-space: normal;
    	margin-right: 15px;
    }

    @include maxw(860px) {
    	margin-left: 20px;
    }
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
    overflow: visible;
    min-width: 290px;

    /*@include minw(768px) {
      width: 750px;
      max-width: 750px;
    }*/
    @include minw(1200px) {
      width: 1170px;
      max-width: 1170px;
    }
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    /*padding-right: 15px;
    padding-left: 15px;*/
  }
  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  @media (min-width: 768px) {
    .col-sm-5, .col-sm-7, .col-md-5, .col-md-7, .col-lg-5, .col-lg-7, {
      float: left;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
  }
  @media (min-width: 992px) {
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
  }
  @media (min-width: 1200px) {
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
  }


  .modal-popup {
    background-color: #0D1319;
    padding: 0 30px;
    width: 290px;
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    display: flex;

    @include maxw(1199px) {
      display: none;
    }
  }

  .modal-popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .modal-popup-close span,
  .modal-popup-close span:focus {
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: 21px 21px;
    display: inline-block;
    width: 21px;
    height: 21px;
  }
  .modal-popup-close span:hover,
  .modal-popup-close span:active {
    cursor: pointer;
  }
  .modal-popup-container {
    margin: auto;
  }
  .modal-popup-title {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    cursor: default;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  .modal-popup-body {

  }
  .modal-popup-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .modal-popup-body ul li {
    background-image: url('../img/list.png');
    background-repeat: no-repeat;
    background-size: 11px 10px;
    padding-left: 30px;
    color: #B9BABB;
    font-size: 13px;
    line-height: 20px;
    background-position: 0 5px;
    margin-bottom: 20px;
    cursor: default;
  }
}
.book {
  height: 460px;
  display: block;
  position: relative;
  text-align: right;
  @include maxw(767px) {
    text-align: center;
    margin: 30px 0;
  }
}
.book img {
  position: absolute;
  top: -40px;
  right: -15px;

  @include maxw(800px) {
    right: 15px;
  }
  @include maxw(767px) {
    right: auto;
    position: relative;
    top: 0;
  }
}
.book_text {
  margin-top: -15px;

  @include maxw(800px) {
    width: 50%!important;
  }
  @include maxw(767px) {
    width: 100%!important;
    margin-top: 50px;
  }
}

.hf-learn {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  cursor: default;
  margin-left: 60px;

	@include maxw(860px) {
    	margin-left: 20px;
    }
  @include maxw(767px) {
    margin-right: 30px;
  }
}
.header_footer form {
  margin-left: 60px;

  input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
  	color: black!important;
  }

	@include maxw(860px) {
    	margin-left: 20px;
    }
  @include maxw(767px) {
    margin-right: 30px;
  }
}
.header_footer_bottom .hf-learn {
  padding-bottom: 5px;
}
.header_form {
  max-width: 85%;
  margin: 30px 0 0;
  position: relative;
  z-index: 0;

  button {
    max-width: 100%;
    width: 100%;

    @include maxw(1200px) {
      max-width: 100%!important;
      width: 100%!important;
      height: 80px;
      border-radius: 50px;
      line-height: 25px;
    }
  }
}
@media (max-width: 1200px) {
  .header_footer {
    form input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
      max-width: 100%!important;
      width: 100%!important;
    }
  }
}
.header_form_row {
  margin-top: 15px;
  overflow: hidden;
}
.header_form_row:first-child {
  margin-top: 0;
}
.header_form_col {
  width: 100%;
}
.header_form__field {
  width: 100%!important;
  max-width: 100%!important;
  height: 50px;
  outline: none;
  padding-left: 0;
  border-radius: 50px;

  color: #fff!important;
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.header_form_row .but {
  border-radius: 35px;
  width: 200px;
  height: 45px;
  border: none;
  cursor: pointer;
  outline: none;

  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;

  display: block;
  background-color: #35219D;
  position: relative;

  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.header_form_row .but:hover {
  opacity: 0.7;
}
@media handheld, only screen and (max-width: 767px) {
  .header_form{
    max-width: 100%;
  }
  .header_form_row:first-child{
    margin-left: 0;
  }
  .header_form_col,
  .header_form_row{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .header_form__field {
    height: 35px;
    line-height: 34px;
  }
  .header_form_row .but {
    margin: 0 auto;
  }
}


.last_sec {
  h2 {
    font-size: 65px;
    line-height: 80px;
  }

  .wrap {
    margin-top: 50px;

    .title {
      margin-bottom: 20px;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .text {
    padding-top: 25px!important;

    p {
      font-size: 17px;
      font-weight: 100;
      white-space: pre-line;
      color: white;

      &.title {
        font-size: 18px;
        font-weight: 100;
        white-space: pre-line;
        color: white!important;
      }

      &.big_text {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .ticket-wrp {
    img {
      top: -47px;
    }

    @include maxw(1200px) {
      img {
        width: 30%;
        height: auto;
        left: 2%;
        top: 50%;
        @include translate3d(0, -50%, 0);
      }
      .text {
        max-width: 65%;
      }
    }
    @include maxw(640px) {
      img {
        position: static;
        display: block;
        margin: 0 auto 20px;
        width: 300px;
        @include translate3d(0,0,0);
      }
      .text {
        max-width: 100%;
        h2 {
          text-align: center !important;
        }
        h2 {
          margin-top: 15px;
        }
        .about-form {
          text-align: center;
        }
      }
    }
  }
}

footer {
  padding: 115px 30px 35px;
  @extend .clearfix;
  .left {
    color: $black_a;
    font-weight: 300;
    line-height: 21px;
    font-size: 13px;
    white-space: pre-line;
    span {
      font-size: 11px;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .right {
    text-align: right;
    a {
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
      text-decoration: underline;
      display: inline-block;
      margin-left: 23px;
    }
  }
  @include maxw(1200px) {
    padding: 0 2% 20px;
    .left,
    .right {
      float: none;
      width: 100%;
      text-align: center;
    }
    .right {
      margin-bottom: 30px;
      a {
        margin: 0 10px;
      }
    }
  }
}

.soc_reg {
  position: relative;

  .ipad {
    position: absolute;
    width: 1081px;
    height: 855px;
    background: url(../img/ipad.png) no-repeat center;
    background-size: cover;
    top: 65px;
    left: 50%;
    transform: translate(-50%, -50%);

    .ipad_content {
      margin: 117px 330px 0;

      .content-block {
          position: relative;
          background: #fff;
          box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .15);

          .card-img img {
            width: 100%;
          }

          .wrapper-for-lgt {
            padding: 12px;

            .flag-container {
                width: 46px;
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .flag-container .current-flag {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .flag-container:hover {
                cursor: pointer;
            }
            .selected-flag {
                z-index: 1;
                position: absolute;
                width: 40px;
                height: 100%;
                padding: 11px 0 0 1px;
            }
            .wrapper-input-phone {
                position: relative;
                display: inline-block;
                width: 100%;
                border-bottom: 2px solid #c4c4c4;
                padding: 5px 0 0 0;
                height: 31px;
                margin: 0 0 12px;
            }
            .wrapper-input-phone.focused {
                outline: 0!important;
                border-bottom: 1px solid #4d90cc;
            }
            .wrapper-input-phone.valid-field {
                border-bottom: 1px solid #81ea84;
            }
            .wrapper-input-phone.invalid-field {
                border-bottom: 1px solid #e67171;
            }
            .wrapper-input-phone .divider {
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid #ccc;
            }
            .iti-arrow {
                margin: -8px 3px 0 0;
                right: 0;
                width: 0;
                left: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-top: 4px solid #555;
                float: right;
            }
            .country-list {
                position: absolute;
                z-index: 2;
                list-style: none;
                text-align: left;
                padding: 0;
                margin: 0 0 0 -1px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
                background-color: #fff;
                border: 1px solid #ccc;
                white-space: nowrap;
                max-height: 200px;
                overflow-y: scroll;
                top: 30px;
                width: 350px;
                display: none;
            }
            .country-list .country {
                padding: 5px 10px;
            }
            .country-list .country:hover {
                background-color: rgba(0, 0, 0, .05);
            }
            .country-list .country-name {
                margin-right: 6px;
            }
            .country-list .dial-code {
                color: #999;
            }
            .input-phone {
                border: none!important;
                background: 0 0;
                width: 58%!important;
                position: absolute;
                right: 45px;
                height: 30px!important;
                top: 3px;
                font-size: 20px;
            }
            .input-phone:focus {
                outline: 0;
            }
            .hide {
                display: none;
            }
            .picked-code {
                width: 60px;
                position: absolute;
                top: 9px;
                left: 35px;
                font-family: "Open Sans";
                font-size: 18px;
                font-weight: 300;
                line-height: 18px;
                text-align: center;
            }
            .country .flag-box {
                float: left;
                margin: 0 8px 0 0;
            }
            #current-flag, .iti-flag.ru {
              top: 0;
              bottom: 0;
              width: 20px;
              height: 14px;
              box-shadow: 0 0 1px 0 #888;
              background-image: url(../img/flag_ru.png);
              background-repeat: no-repeat;
              background-color: #dbdbdb;
            }
          }

          .card-sub-title {
              padding: 0 20px 10px;
              transition: all .1s;
              font-size: 12px;
              word-wrap: break-word;
              font-weight: bold;
              text-align: center;
          }
      }

      .send-block {
          position: relative;
          font-size: 11px;
          text-align: center;
          transition: all .1s;
          z-index: 1;

          .main-cta {
            text-align: center;
            font-size: 16px;
            padding: 20px 5px 5px;
            font-weight: 300;
            word-break: break-word;
            display: block;

            p {
              margin: 0;
            }
          }

          form {
            padding-top: 15px;

            .wrap-button {
              display: flex;
              margin-left: 0;
              margin-right: 0;

              div, a {
                cursor: pointer;

                img {
                  width: 100%;
                }
              }
            }
          }
      }

      .multichannel::after, .multichannel::before {
        content: "▾";
        position: absolute;
        opacity: 0;
        color: rgba(46, 86, 174, 0.2);
        line-height: 10px;
        top: 0px;
        left: 50%;
        margin-left: -150px;
        width: 300px;
        height: 100px;
        font-size: 250px;
        z-index: -1;
        animation-name: big-arrow;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        overflow: hidden;
      }
    }

    @include maxw(1100px) {
      width: 860px;
      height: 680px;
      top: 50px;

      .ipad_content {
        margin: 59px 245px 0;

        .content-block .wrapper-for-lgt {
          padding-bottom: 1px;
        }
      }
    }

    @include maxw(860px) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: auto;
      background: none;

      .ipad_content {
        margin: 0;

        .send-block form .wrap-button {
          justify-content: center;
        }
      }
    }
  }
}






.help {
  header {
    background-position: center top -35px;
    padding-bottom: 40px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      background: linear-gradient(to bottom, transparent 0%, #5e6163 30%);
      border-radius: 100%;
      left: 50%;
      margin-left: -30px;
      bottom: -30px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -8.5px;
      bottom: -13px;
      @extend .sprite-ico-mouse;
    }
    .ticket-wrp {
      padding-top: 10px;
      @include minw(1201px) {
        img {
          top: 30px;
          left: 170px;
          width: 390px;
        }
        .text {
          max-width: 620px;
        }
      }
      .text {
        h2 {
          font-size: 60px;
          line-height: 70px;
          text-align: left;
          margin-bottom: 40px;
          @include maxw(1200px) {
            font-size: 40px;
            line-height: 50px;
          }
        }
        .title {
          text-align: left;
          font-size: 23px;
          font-weight: 500;
          line-height: 33px;
          text-transform: none;
          white-space: pre-line;
          @include maxw(1200px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        p {
          font-size: 23px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          white-space: pre-line;
          margin: 30px 0;
          @include maxw(1200px) {
            font-size: 14px;
            line-height: 20px;
          }
          @include maxw(640px) {
            text-align: center;
          }
        }
      }
    } 
    @include maxw(1200px) {
      padding: 20px 0;
      background-position: right top;
      &:before,
      &:after  {
        display: none;
      }
      .wrap {
        margin-top: 0;
      }
    }
  }
  .check-mail {
    padding: 110px 0 0;
    position: relative;
    background: url(#{$imgpath}/help_bottom_bg.jpg) no-repeat center top 353px;

    &:before {
      content: '';
      width: 100%;
      height: 32px;
      display: block;
      top: -32px;
      left: 0;
      position: absolute;
      background: url(../img/white_bg.png) no-repeat center;
    }

    @include maxw(1200px) {
      padding-top: 70px;
      background-position: center top 200px;
    }
    @include maxw(980px) {
      background-position: center top 1100px;
    }
    .triggers {
      margin-bottom: 75px;
      .item {
        background: $white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 44px 15px 50px;
        height: 420px;
        @include box-sizing(border-box);
        @include maxw(980px) {
          width: 100%;
          margin: 0 auto 30px;
          clear: both;
          float: none;
          height: auto;
          padding: 30px 15px 20px;
        }
        .img {
          width: 100%;
          height: 168px;
          img {
            display: block;
            margin: auto;
            max-width: 100%;
          }
          &.macbook {
            background: url(#{$imgpath}/macbook-mockup.jpg) no-repeat center bottom;
            position: relative;
            img {
              display: block;
              width: 214px;
              // height: 134px;
              position: absolute;
              left: 50%;
              margin-left: -107px;
              top: 10px;
            }
            span {
              width: 56px;
              height: 41px;
              display: block;
              background: #3a24ab;
              border-radius: 56px;
              color: white;
              font-weight: bold;
              font-size: 30px;
              padding-top: 15px;
              text-align: center;
              position: absolute;
              right: 32px;
              bottom: 20px;
            }
          }
        }
        line-height: 25px;
        .title {
          color: $black;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.5em;
          margin-top: 15px;
          margin-bottom: 25px;
        }
        p {
          color: $black_a;
          font-size: 17px;
          font-weight: 300;
          margin: 0 0 15px;
        }
      }
    }
    .title {
      color: $white;
      letter-spacing: 0.5em;
    }
    h2 {
      color: $white;
      font-size: 60px;
      @include maxw(860px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
    .mail-check-wrp {
      margin-top: 70px;
      .left {
        width: 585px;
        p {
          color: $white;
          font-size: 20px;
          font-weight: 300;
          line-height: 28px;
          margin: 0 0 30px;
        }
        .item {
          display: inline-block;
          cursor: pointer;
          width: 260px;
          height: 190px;
          @include box-sizing(border-box);
          margin-right: 27px;
          margin-bottom: 30px;
          background: $white;
          border: 3px solid $white;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          @include transition(all linear 0.2s);
          &.active {
            border-color: $blue;
          }
          &.i1 {background: $white url(#{$imgpath}/mail-yandex.png) no-repeat center;}
          &.i2 {background: $white url(#{$imgpath}/mail-mailru.png) no-repeat center;}
          &.i3 {background: $white url(#{$imgpath}/mail-gmail.png) no-repeat center;}
          &.i4 {background: $white url(#{$imgpath}/mail-rambler.png) no-repeat center;}
        }
      }
      .right {
        width: 550px;
        height: 500px;
        @include box-sizing(border-box);
        border: 2px dotted $white;
        position: relative;
        border-radius: 3px;
        img {
          @include centering(absolute, -50%, -50%, 50%, 50%);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          width: auto;
          max-width: 80%;
          margin-top: 15px;
          display: none;
        }
      }
      .important {
        margin-top: 65px;
        margin-left: 35px;
        font-size: 22px;
        color: $black_a;
        font-weight: 300;
        line-height: 27px;
        padding-left: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: -2px;
          @extend .sprite-ico-important;
        }
        b {
          color: $black;
          font-weight: 500;
          line-height: 25px;
        }
      }
      @include maxw(1200px) {
        .left {
          width: 100%;
          float: none;
          margin-bottom: 20px;
          .item {
            width: 23%;
            height: 140px;
            margin-right: 1%;
            background-size: 80% !important;
          }
        }
        .right {
          width: 100%;
          float: none;
          clear: both;
        }
      }
      @include maxw(640px) {
        .left {
          .item {
            width: 48%;
          }
        }
        .right {
          height: auto;
          text-align: center;
          img {
            position: static;
            @include centering(static,0,0,0,0);
            margin: 20px auto;
            max-width: 90%;
          }
        }
        .important {
          margin-left: 0;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
  footer {
    margin-top: 100px;
  }
}
.help .header
{
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 40px 0 30px;
  position: relative;

  @include maxw(1400px) {
    padding-bottom: 70px;
  }

  .clearfix {
      clear: both;
    }

    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      box-shadow: none;
      overflow: visible;
      min-width: 290px;

      @include minw(768px) {
      width: 750px;
      max-width: 750px;
    }
    @include minw(1401px) {
      width: 1366px;
      max-width: 1366px;
    }
    @include maxw(1400px) {
      width: 1170px;
      max-width: 1170px;
    }
    @include maxw(1160px) {
      width: 750px;
      max-width: 750px;
    }
    @include maxw(767px) {
      width: 95%;
      max-width: 95%;
      padding-left: 0;
    }
    }
    .row {
      margin-right: -15px;
      margin-left: -15px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      position: relative;
      min-height: 1px;
      /*padding-right: 15px;
      padding-left: 15px;*/
  }
  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      float: left;
  }
  .col-xs-12 {
      width: 100%;
  }
  .visible-md, .visible-lg {
    display: none!important;
  }
  @media (min-width: 768px) {
    .col-sm-4, .col-sm-7, .col-md-5, .col-md-7, .col-lg-5, .col-lg-7, {
        float: left;
    } 
    .col-sm-4 {
        width: 33.33333333333333%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-offset-1 {
        margin-left: 8.333333333333332%;
    }
  }
  @media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
  }
  @media (min-width: 1200px) {
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .visible-lg {
      display: block!important;
    }
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    .visible-md {
      display: block!important;
    }
  }

  p {
    margin: 10px 0 10px 30px;
    padding: 0;

    &.reference {
      color: #929c9c;
        font-size: 16px;
        font-weight: 300;
    }
  }

  .bb {
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .metropolisText {
    margin-bottom: 45px;
    margin-top: 30px;
    font-family: "metropolis_1920regular";
    font-size: 75px;
    line-height: 75px;

    @include maxw(768px) {
      font-size: 50px;
    }
  }
  .book {
    position: relative;

    img.help_book {
      position: absolute;
      right: -200px;
      top: -10px;
      width: 550px;
      z-index: 1;
    }
  }

  .tickets {
    position: absolute;
    bottom: -130px;
    right: 168px;
    z-index: 1;

    img {
        position: relative;
        top: 0;
        right: 0;
    }
  }

  .arrowHelp {
    bottom: -150px;
      left: -80px;
      position: absolute;
      z-index: 1;
  }

}