.new-slider-coments-wr{
    padding: 70px 0 100px 0;
    .title{
        letter-spacing: 0.5em;
        margin-bottom: 50px;
    }
    .styles-sl-sec{
        text-align: center;
        font-size: 18px;
        color: #646464;
            line-height: 30px;
        strong{
            color: #000;
        }
    }
    .for-slider-wr-new{
        padding-top: 25px;
        .new-slider-init{
            padding-bottom: 50px;
            .one-slide-wr{
                outline: none;
                padding: 20px 30px;
                transition: 0.3s;
                opacity: 0.3;
                &.slick-center{
                    opacity: 1;
                }
                .image-wr{
                    height: 250px;
                    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                    
                    padding: 25px 35px;
                    img{
                        display: block;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
            }
            .slick-arrow{
                display: block;
                position: absolute;
                bottom: -35px;
                left: 50%;
                font-size: 0;
                display: block;
                width: 60px;
                height: 60px;
                border: 2px solid #3a24ab;
                border-radius: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
               background: #fff;
                padding: 0;
                transition: none;
                &:hover{
                    background: #3a24ab;
                    &.slick-next{
                         &:before{
                            background-position: 0 0;
                            height: 20px;
                            width: 12px;
                        }
                    }
                    &.slick-prev{
                         &:before{
                            background-position: 0 -44px;
                            height: 20px;
                            width: 12px;
                        }
                    }
                   
                }
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate3d(-50%, -50%, 0);
                    -ms-transform: translate3d(-50%, -50%, 0);
                    transform: translate3d(-50%, -50%, 0);
                     background-image: url(../img/sprite-s43daf6fcb9.png);
                    background-repeat: no-repeat;
                    transition: none;
                }
                &.slick-next{
                    transform: translateX(-75px);
                    &:before{
                        background-position: 0 -22px;
                        height: 20px;
                        width: 12px;
                    }
                }
                &.slick-prev{
                    transform: translateX(15px);
                     &:before{
                        background-position: 0 -66px;
                        height: 20px;
                        width: 12px;
                    }
                }
            }
            
        }
    }
   
    
    
}

.start{
    
    &.start-bg-stile{
        background-image: url(../img/bg-1-space.jpg);
        padding: 150px 0 160px;
        background-size: cover;
        background-position: center;
        h2{
            color: #fff;
        }
        &:before{
            height: 32px;
            margin: 0;
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-image: url(../img/white_bg.png);
            background-size: cover;
            background-position: top center;
        }
        &:after{
            bottom: 19px;
        }
    }
} 

