$rose_color: #d53257;

header {
  background: #151926 url(#{$imgpath}/header_bg.jpg) no-repeat center top;
  color: $white;
  padding: 20px 30px 33px;
  position: relative;
  @include maxw(350px) {
    padding-left: 2%;
    padding-right: 2%;
  }
  .logo {
    text-indent: -9999px;
    display: block;
    background: url(#{$imgpath}/logo.png) no-repeat center;
    width: 470px;
    height: 60px;
    @include maxw(640px) {
      width: 225px;
      background-position: left center;
    }
  }
  nav {
    font-size: 15px;
    font-weight: 300;
    .sandwich {
      display: none;
    }
    ul {
      text-align: right;
      margin: 10px 0;
      li {
        display: inline-block;
        margin: 0 0 0 25px;
        padding: 0;
        &:before {
          display: none;
        }
        a {
          text-decoration: none;
          @include hover-line-from-left ($white, 1px);
        }
      }
    }
    @include maxw(1400px) {
      font-size: 13px;
      ul li {
        margin-left: 12px;
      }
    }
    @include maxw(1200px) {
      .sandwich {
        display: block;
        cursor: pointer;
        margin-top: 15px;
        width: 40px;
        height: 30px;
        overflow: hidden;
        position: relative;
        z-index: 5;
        span {
          display: block;
          width: 40px;
          height: 2px;
          background: $white;
          margin-bottom: 10px;
          @include transition(all ease-in-out 0.2s);
        }
        &.active {
          span:nth-child(2n) {
            opacity: 0;
          }
          span:first-child {
            @include transform(rotate(45deg) translate(8px,8px));
            @include origin(center,center);
            background: $black;
          }
          span:nth-child(3n) {
            @include transform(rotate(-45deg) translate(10px,-8px));
            @include origin(center,center);
            background: $black;
          }
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        z-index: 4;
        padding: 30px 0;
        background: $white;
        color: $black;
        li {
          display: block;
          text-align: right;
          padding-right: 100px;
          padding-left: 30px;
          line-height: 24px;
          font-size: 16px;
        }
      }
    }
  }
  .wrap {
    margin-top: 38px;
    & > .title {
      opacity: 0.5;
      letter-spacing: 0.3em;
      margin-bottom: 30px;
    }

    .date {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      margin-bottom: 25px;
      position: relative;

      &:before {
        content: '';
        width: 65px;
        height: 1px;
        display: block;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -226px;
        background: $rose_color;
      }
      &:after {
        content: '';
        width: 65px;
        height: 1px;
        display: block;
        position: absolute;
        top: 10px;
        right: 50%;
        margin-right: -220px;
        background: $rose_color;
      }
    }
  }
  h1 {
    font-size: 80px;
    line-height: 95px;
    @include maxw(670px) {
      font-size: 70px;
      line-height: 85px;
    }
    @include maxw(600px) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  @include maxw(1200px) {
    background-position: right -30px top;
    background-size: cover;
  }
  @include maxw(640px) {
    .ticket-wrp {
      margin-top: 40px;
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
      .text {
        ul {
          text-align: left;
        }
      }
    }
  }
}
.ticket-wrp {
  position: relative;
  img {
    position: absolute;
    z-index: 1;
    display: block;
    left: -28px;
    top: -103px;
  }
  .text {
    max-width: 650px;
    margin-right: 0;
    margin-left: auto;
    padding-top: 10px;

    button {
      padding: 0 10px;
    }

    p {
      font-size: 17px;
      line-height: 24px;

      &.title {
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-transform: none;
        margin-top: 6px;
      }
    }
  }
  @include maxw(1200px) {
    img {
      width: 30%;
      height: auto;
      left: 2%;
      top: 50%;
      @include translate3d(0, -50%, 0);
    }
    .text {
      max-width: 65%;
    }
  }
  @include maxw(640px) {
    img {
      position: static;
      display: block;
      margin: 0 auto 20px;
      width: 300px;
      @include translate3d(0,0,0);
    }
    .text {
      max-width: 100%;
      h2 {
        text-align: center !important;
      }
      h2 {
        margin-top: 15px;
      }
      .about-form {
        text-align: center;
      }
    }
  }
}

.start {
  background: #14181c url(#{$imgpath}/start_bg.jpg) no-repeat center top;
  color: black;
  padding: 150px 0 108px;
  position: relative;
  @include maxw(980px) {
    padding: 100px 0;
  }
  @include maxw(450px) {
    padding: 70px 0 40px;
  }
  .title {
    letter-spacing: 0.5em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 55px;
    line-height: 72px;
    @include maxw(450px) {
      font-size: 50px;
      line-height: 65px;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    @extend .sprite-ico-mouse;
    left: 50%;
    bottom: -15px;
    margin: 0 0 0 -9px;
  }
}