// FONTS
$font: 'Roboto', sans-serif;
$font2: 'metropolis_1920regular';
$font3: 'Roboto Condensed', sans-serif;

// COLORS
$white: #fff;
$white_a: #f0f0f0;
$white_b: #b9babb;

$black: #141414;
$black_a: #646464;
$black_b: #0e1319;

$gray: #e5e5e5;
$gray_a: #c0c0c0;
$gray_b: #a2afbe;
$gray_c: #969696;

$blue: #3a24ab;
$blue_a: #5542ba;

$red: #c9271f;

// PATH TO IMAGES
$imgpath : "../img";