@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Roboto:100,300,400,500,700&subset=cyrillic");
@font-face {
  font-family: 'metropolis_1920regular';
  src: url("../fonts/metropolis1920-webfont.eot");
  src: url("../fonts/metropolis1920-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis1920-webfont.woff") format("woff"), url("../fonts/metropolis1920-webfont.ttf") format("truetype"), url("../fonts/metropolis1920-webfont.svg#metropolis_1920regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  49% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 0; }
  51% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes move {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  49% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 0; }
  51% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
.sprite-sprite, .sprite-arrow-left-white, .sprite-arrow-left, .sprite-arrow-right-white, .sprite-arrow-right, .sprite-ico-after-smile, .sprite-ico-before-smile, .sprite-ico-calendar, .button i.cal, button i.cal, input[type="submit"] i.cal, .sprite-ico-check, .button i, button i, input[type="submit"] i, .sprite-ico-date, .sprite-ico-free, .sprite-ico-important, .sprite-ico-list-item, ul li:before, .sprite-ico-mailbox, .button i.mail, button i.mail, input[type="submit"] i.mail, .sprite-ico-mouse, .start:after, .sprite-ico-mouse2, .sprite-ico-question, .sprite-ico-time, .sprite-rol, .button i.rol, button i.rol, input[type="submit"] i.rol, .sprite-trigger1, .sprite-trigger10, .sprite-trigger11, .sprite-trigger12, .sprite-trigger13, .sprite-trigger14, .sprite-trigger2, .sprite-trigger3, .sprite-trigger4, .sprite-trigger5, .sprite-trigger6, .sprite-trigger7, .sprite-trigger8, .sprite-trigger9 {
  background-image: url("../img/sprite-s43daf6fcb9.png");
  background-repeat: no-repeat; }

.sprite-arrow-left-white {
  background-position: 0 0;
  height: 20px;
  width: 12px; }

.sprite-arrow-left {
  background-position: 0 -22px;
  height: 20px;
  width: 12px; }

.sprite-arrow-right-white {
  background-position: 0 -44px;
  height: 20px;
  width: 12px; }

.sprite-arrow-right {
  background-position: 0 -66px;
  height: 20px;
  width: 12px; }

.sprite-ico-after-smile {
  background-position: 0 -88px;
  height: 41px;
  width: 41px; }

.sprite-ico-before-smile {
  background-position: 0 -131px;
  height: 41px;
  width: 41px; }

.sprite-ico-calendar, .button i.cal, button i.cal, input[type="submit"] i.cal {
  background-position: 0 -174px;
  height: 18px;
  width: 18px; }

.sprite-ico-check, .button i, button i, input[type="submit"] i {
  background-position: 0 -194px;
  height: 19px;
  width: 19px; }

.sprite-ico-date {
  background-position: 0 -215px;
  height: 21px;
  width: 21px; }

.sprite-ico-free {
  background-position: 0 -238px;
  height: 138px;
  width: 138px; }

.sprite-ico-important {
  background-position: 0 -378px;
  height: 28px;
  width: 28px; }

.sprite-ico-list-item, ul li:before {
  background-position: 0 -408px;
  height: 10px;
  width: 11px; }

.sprite-ico-mailbox, .button i.mail, button i.mail, input[type="submit"] i.mail {
  background-position: 0 -420px;
  height: 19px;
  width: 25px; }

.sprite-ico-mouse, .start:after {
  background-position: 0 -441px;
  height: 26px;
  width: 17px; }

.sprite-ico-mouse2 {
  background-position: 0 -469px;
  height: 26px;
  width: 17px; }

.sprite-ico-question {
  background-position: 0 -497px;
  height: 20px;
  width: 20px; }

.sprite-ico-time {
  background-position: 0 -519px;
  height: 21px;
  width: 21px; }

.sprite-rol, .button i.rol, button i.rol, input[type="submit"] i.rol {
  background-position: 0 -542px;
  height: 25px;
  width: 22px; }

.sprite-trigger1 {
  background-position: 0 -569px;
  height: 70px;
  width: 56px; }

.sprite-trigger10 {
  background-position: 0 -641px;
  height: 57px;
  width: 57px; }

.sprite-trigger11 {
  background-position: 0 -700px;
  height: 59px;
  width: 57px; }

.sprite-trigger12 {
  background-position: 0 -761px;
  height: 57px;
  width: 57px; }

.sprite-trigger13 {
  background-position: 0 -820px;
  height: 60px;
  width: 65px; }

.sprite-trigger14 {
  background-position: 0 -882px;
  height: 57px;
  width: 59px; }

.sprite-trigger2 {
  background-position: 0 -941px;
  height: 60px;
  width: 60px; }

.sprite-trigger3 {
  background-position: 0 -1003px;
  height: 61px;
  width: 61px; }

.sprite-trigger4 {
  background-position: 0 -1066px;
  height: 59px;
  width: 59px; }

.sprite-trigger5 {
  background-position: 0 -1127px;
  height: 70px;
  width: 55px; }

.sprite-trigger6 {
  background-position: 0 -1199px;
  height: 62px;
  width: 68px; }

.sprite-trigger7 {
  background-position: 0 -1263px;
  height: 58px;
  width: 43px; }

.sprite-trigger8 {
  background-position: 0 -1323px;
  height: 51px;
  width: 51px; }

.sprite-trigger9 {
  background-position: 0 -1376px;
  height: 52px;
  width: 56px; }

body, html {
  margin: 0px;
  padding: 0px;
  background: #fff;
  color: #141414;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.container {
  max-width: 1920px;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }

.wrap {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1200px) {
    .wrap {
      width: 96%;
      padding: 0 2%; } }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after, .w3:after, .w4:after {
  display: table;
  content: '';
  clear: both; }

.hide {
  display: none; }

.justify {
  text-align: justify;
  font-size: 0px;
  text-justify: newspaper; }
  .justify > div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 16px; }
  .justify:after,
  .justify .justify-break {
    content: '';
    display: inline-block;
    width: 100%; }

h1, h2 {
  margin: 0;
  font-family: "metropolis_1920regular";
  white-space: pre-line;
  font-weight: 400; }

h1 {
  font-size: 110px;
  line-height: 70px;
  white-space: pre-line;
  text-align: center; }
  h1 span {
    font-size: 50px; }
  @media (max-width: 860px) {
    h1 {
      font-size: 75px;
      line-height: 42px; }
      h1 span {
        font-size: 32px;
        line-height: 43px; }
        h1 span .rotate {
          line-height: 37px !important; } }
  @media (max-width: 640px) {
    h1 {
      font-size: 40px;
      line-height: 46px; }
      h1 span {
        font-size: 32px;
        line-height: 43px; }
        h1 span .rotate {
          line-height: 37px !important; } }

h2 {
  font-size: 75px;
  text-align: center; }
  @media (max-width: 860px) {
    h2 {
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 20px; } }

.title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 860px) {
    .title {
      letter-spacing: normal !important; } }

h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 28px;
  margin: 0; }

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0; }

a {
  color: inherit;
  text-decoration: underline;
  outline: none; }

.button, button, input[type="submit"] {
  height: 60px;
  line-height: 63px;
  border: 0px;
  border-radius: 30px;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d53257;
  color: #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  letter-spacing: 0.15em; }
  .button:hover, button:hover, input[type="submit"]:hover {
    background-color: #dd3c60; }
  .button.tprnt, button.tprnt, input[type="submit"].tprnt {
    background: transparent;
    border: 2px solid #fff;
    line-height: 56px; }
    .button.tprnt:hover, button.tprnt:hover, input[type="submit"].tprnt:hover {
      border-color: #dd3c60;
      background: #dd3c60; }
  .button i, button i, input[type="submit"] i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 20px; }

input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
textarea {
  text-align: center;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  height: 60px;
  background-color: #fff;
  color: #141414;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 30px;
  margin: 0 auto 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  resize: none; }
  input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).required,
  textarea.required {
    border-color: #c9271f !important;
    color: #c9271f; }
    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).required::-webkit-input-placeholder,
    textarea.required::-webkit-input-placeholder {
      color: #c9271f;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px; }
    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).required:-moz-placeholder,
    textarea.required:-moz-placeholder {
      color: #c9271f;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px; }
    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).required::-moz-placeholder,
    textarea.required::-moz-placeholder {
      color: #c9271f;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px; }
    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).required:-ms-input-placeholder,
    textarea.required:-ms-input-placeholder {
      color: #c9271f;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px; }

input::-webkit-input-placeholder {
  color: #969696;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px; }
input:-moz-placeholder {
  color: #969696;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px; }
input::-moz-placeholder {
  color: #969696;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px; }
input:-ms-input-placeholder {
  color: #969696;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px; }

textarea {
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 150px; }
  textarea::-webkit-input-placeholder {
    color: #969696;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  textarea:-moz-placeholder {
    color: #969696;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  textarea::-moz-placeholder {
    color: #969696;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  textarea:-ms-input-placeholder {
    color: #969696;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px; }

input[type=radio],
input[type=checkbox] {
  display: none; }
  input[type=radio] + label,
  input[type=checkbox] + label {
    padding-left: 30px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    cursor: pointer; }
    input[type=radio] + label:before,
    input[type=checkbox] + label:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -9px;
      width: 15px;
      height: 15px;
      border: 1px solid #fff; }
  input[type=radio]:checked + label:after,
  input[type=checkbox]:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    left: 6px;
    top: 50%;
    margin-top: -3px; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px; }
  table td {
    padding-top: 17px;
    padding-bottom: 18px; }
  table thead {
    background: #141414;
    color: #fff; }
    table thead td {
      font-size: 20px;
      font-weight: 500;
      line-height: 25px; }
  table tbody tr {
    border-bottom: 1px solid #b9babb; }

ul {
  list-style: none;
  display: block;
  padding: 0; }
  ul li {
    padding-left: 30px;
    position: relative; }
    ul li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 7px; }

ol {
  list-style: none;
  padding: 0;
  margin: 20px 0; }
  ol li {
    padding-left: 40px;
    position: relative; }
    ol li:before {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.1;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 23px; }
    ol li:first-child:before {
      content: "01"; }
    ol li:nth-child(2):before {
      content: "02"; }
    ol li:nth-child(3):before {
      content: "03"; }
    ol li:nth-child(4):before {
      content: "04"; }
    ol li:nth-child(5):before {
      content: "05"; }
    ol li:nth-child(6):before {
      content: "06"; }
    ol li:nth-child(7):before {
      content: "07"; }
    ol li:nth-child(8):before {
      content: "08"; }
    ol li:nth-child(9):before {
      content: "09"; }
    ol li:nth-child(10):before {
      content: "10"; }

hr {
  display: block;
  border: none;
  height: 2px;
  background: #f0f0f0; }

form {
  margin: 0 auto; }
  form .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    text-transform: none;
    margin-bottom: 28px; }
  form input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), form textarea {
    margin-right: 18px;
    width: 300px;
    max-width: 48%; }
  form #ExtraComment {
    display: none; }
  form .button, form button, form input[type="submit"] {
    width: 300px;
    max-width: 48%; }
  form .about-form {
    font-size: 13px;
    font-weight: 100;
    line-height: 13px;
    display: block; }
  @media (max-width: 1200px) {
    form .title {
      font-size: 16px;
      line-height: 21px; }
    form input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
    form textarea,
    form .button, form button, form input[type="submit"] {
      max-width: 100% !important;
      width: 370px !important;
      margin: 0 0 20px 0 !important; } }
  @media (max-width: 370px) {
    form .button, form button, form input[type="submit"] {
      font-size: 12px;
      padding: 0 15px; } }

.w3 .item {
  width: 370px;
  margin-bottom: 30px;
  float: left;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .w3 .item:nth-child(3n) {
    margin-right: 0; }
  .w3 .item:nth-child(3n+1) {
    clear: both; }
  @media (max-width: 1200px) {
    .w3 .item {
      width: 31%;
      margin-right: 3.5%; } }
  @media (max-width: 640px) {
    .w3 .item {
      width: 100%;
      margin: 0 0 30px !important;
      float: none;
      clear: both; } }

.w4 .item {
  width: 270px;
  margin-bottom: 30px;
  float: left;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .w4 .item:nth-child(4n) {
    margin-right: 0; }
  .w4 .item:nth-child(4n+1) {
    clear: both; }
  @media (max-width: 1200px) {
    .w4 .item {
      width: 22%;
      margin-right: 4%; } }
  @media (max-width: 640px) {
    .w4 .item {
      width: 49%;
      margin-right: 2%; }
      .w4 .item:nth-child(4n) {
        margin-right: 2%; }
      .w4 .item:nth-child(4n+1) {
        clear: none; }
      .w4 .item:nth-child(even) {
        margin-right: 0 !important; }
      .w4 .item:nth-child(odd) {
        clear: both; } }

.dialogs {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0; }
  .dialogs .close-bg {
    position: fixed;
    z-index: 51;
    width: 100%;
    height: 100%; }
  .dialogs .vertical-align-table {
    display: table;
    width: 100%;
    height: 100%; }
    .dialogs .vertical-align-table .vertical-align-row {
      display: table-row; }
      .dialogs .vertical-align-table .vertical-align-row .vertical-align {
        display: table-cell;
        vertical-align: middle; }
  .dialogs .close {
    z-index: 53;
    width: 50px;
    height: 50px;
    background: #3a24ab;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s; }
    .dialogs .close:before, .dialogs .close:after {
      content: '';
      display: block;
      width: 50%;
      height: 3px;
      background: #fff;
      position: absolute;
      top: 50%;
      margin-top: -1.5px;
      left: 25%; }
    .dialogs .close:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .dialogs .close:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .dialogs .close:hover {
      background: #5542ba; }
  .dialogs .popup {
    display: none;
    opacity: 0;
    margin: 0 auto;
    position: relative;
    z-index: 52;
    width: 100%;
    max-width: 1170px;
    border: none;
    padding: 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .dialogs .popup.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .dialogs .popup .form-box {
      max-width: 870px;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 110px 0px; }
    .dialogs .popup.text {
      background: #fff !important; }
      .dialogs .popup.text .form-box {
        max-width: 90%;
        padding: 50px 0; }
        .dialogs .popup.text .form-box .text-wrp {
          text-align: left; }
          .dialogs .popup.text .form-box .text-wrp h3 {
            font-size: 23px;
            line-height: 30px;
            margin-bottom: 40px; }
          .dialogs .popup.text .form-box .text-wrp p {
            font-size: 12px;
            line-height: 17px;
            margin: 15px 0; }
  .dialogs .thanks-popup {
    background: rgba(6, 13, 31, 0.85);
    position: fixed;
    z-index: 102;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; }
    .dialogs .thanks-popup .close {
      z-index: 103; }
    .dialogs .thanks-popup .close-bg {
      z-index: -1; }
    .dialogs .thanks-popup .form-box {
      border: 10px solid #3a24ab;
      background: #fff;
      position: absolute;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 800px;
      height: 400px;
      padding: 0px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .dialogs .thanks-popup .form-box .text-wrp {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 42px; }
        .dialogs .thanks-popup .form-box .text-wrp h2 {
          font-size: 46px;
          line-height: 60px; }
        .dialogs .thanks-popup .form-box .text-wrp p {
          font-size: 20px;
          font-weight: 300;
          margin: 0; }

.new-slider-coments-wr {
  padding: 70px 0 100px 0; }
  .new-slider-coments-wr .title {
    letter-spacing: 0.5em;
    margin-bottom: 50px; }
  .new-slider-coments-wr .styles-sl-sec {
    text-align: center;
    font-size: 18px;
    color: #646464;
    line-height: 30px; }
    .new-slider-coments-wr .styles-sl-sec strong {
      color: #000; }
  .new-slider-coments-wr .for-slider-wr-new {
    padding-top: 25px; }
    .new-slider-coments-wr .for-slider-wr-new .new-slider-init {
      padding-bottom: 50px; }
      .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr {
        outline: none;
        padding: 20px 30px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        opacity: 0.3; }
        .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr.slick-center {
          opacity: 1; }
        .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr {
          height: 250px;
          -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          padding: 25px 35px; }
          .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr img {
            display: block;
            max-width: 100%;
            margin: 0 auto; }
      .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow {
        display: block;
        position: absolute;
        bottom: -35px;
        left: 50%;
        font-size: 0;
        display: block;
        width: 60px;
        height: 60px;
        border: 2px solid #3a24ab;
        border-radius: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        padding: 0;
        -webkit-transition: none;
        transition: none; }
        .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow:hover {
          background: #3a24ab; }
          .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow:hover.slick-next:before {
            background-position: 0 0;
            height: 20px;
            width: 12px; }
          .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow:hover.slick-prev:before {
            background-position: 0 -44px;
            height: 20px;
            width: 12px; }
        .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow:before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
          background-image: url(../img/sprite-s43daf6fcb9.png);
          background-repeat: no-repeat;
          -webkit-transition: none;
          transition: none; }
        .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow.slick-next {
          -webkit-transform: translateX(-75px);
                  transform: translateX(-75px); }
          .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow.slick-next:before {
            background-position: 0 -22px;
            height: 20px;
            width: 12px; }
        .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow.slick-prev {
          -webkit-transform: translateX(15px);
                  transform: translateX(15px); }
          .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow.slick-prev:before {
            background-position: 0 -66px;
            height: 20px;
            width: 12px; }

.start.start-bg-stile {
  background-image: url(../img/bg-1-space.jpg);
  padding: 150px 0 160px;
  background-size: cover;
  background-position: center; }
  .start.start-bg-stile h2 {
    color: #fff; }
  .start.start-bg-stile:before {
    height: 32px;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/white_bg.png);
    background-size: cover;
    background-position: top center; }
  .start.start-bg-stile:after {
    bottom: 19px; }

@media (max-width: 1199px) {
  .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow.slick-next {
    -webkit-transform: scale(0.5, 0.5) translateX(-105px);
    transform: scale(0.5, 0.5) translateX(-105px); }
  .new-slider-coments-wr .for-slider-wr-new .new-slider-init .slick-arrow.slick-prev {
    -webkit-transform: scale(0.5, 0.5) translateX(15px);
    transform: scale(0.5, 0.5) translateX(15px); }

  .new-slider-coments-wr {
    padding: 30px 0 60px 0; } }
@media (max-width: 767px) {
  .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr {
    height: auto; }

  .new-slider-coments-wr .for-slider-wr-new {
    padding-top: 0; }

  .new-slider-coments-wr .for-slider-wr-new .new-slider-init {
    padding-bottom: 20px; }

  .start.start-bg-stile h2 {
    font-size: 29px;
    line-height: 48px; }

  .start.start-bg-stile {
    padding: 100px 0 110px; }

  .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr .image-wr {
    padding: 15px 10px; }

  .new-slider-coments-wr .for-slider-wr-new .new-slider-init .one-slide-wr {
    padding: 10px 15px; } }
header {
  background: #151926 url(../img/header_bg.jpg) no-repeat center top;
  color: #fff;
  padding: 20px 30px 33px;
  position: relative; }
  @media (max-width: 350px) {
    header {
      padding-left: 2%;
      padding-right: 2%; } }
  header .logo {
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat center;
    width: 470px;
    height: 60px; }
    @media (max-width: 640px) {
      header .logo {
        width: 225px;
        background-position: left center; } }
  header nav {
    font-size: 15px;
    font-weight: 300; }
    header nav .sandwich {
      display: none; }
    header nav ul {
      text-align: right;
      margin: 10px 0; }
      header nav ul li {
        display: inline-block;
        margin: 0 0 0 25px;
        padding: 0; }
        header nav ul li:before {
          display: none; }
        header nav ul li a {
          text-decoration: none;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-box-shadow: 0 0 1px transparent;
                  box-shadow: 0 0 1px transparent;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -moz-osx-font-smoothing: grayscale;
          position: relative;
          overflow: hidden; }
          header nav ul li a:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: #fff;
            height: 1px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
          header nav ul li a:hover:before, header nav ul li a:focus:before, header nav ul li a:active:before {
            right: 0; }
    @media (max-width: 1400px) {
      header nav {
        font-size: 13px; }
        header nav ul li {
          margin-left: 12px; } }
    @media (max-width: 1200px) {
      header nav .sandwich {
        display: block;
        cursor: pointer;
        margin-top: 15px;
        width: 40px;
        height: 30px;
        overflow: hidden;
        position: relative;
        z-index: 5; }
        header nav .sandwich span {
          display: block;
          width: 40px;
          height: 2px;
          background: #fff;
          margin-bottom: 10px;
          -webkit-transition: all ease-in-out 0.2s;
          transition: all ease-in-out 0.2s; }
        header nav .sandwich.active span:nth-child(2n) {
          opacity: 0; }
        header nav .sandwich.active span:first-child {
          -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
          -webkit-transform-origin: center center;
          transform-origin: center center;
          background: #141414; }
        header nav .sandwich.active span:nth-child(3n) {
          -webkit-transform: rotate(-45deg) translate(10px, -8px);
          transform: rotate(-45deg) translate(10px, -8px);
          -webkit-transform-origin: center center;
          transform-origin: center center;
          background: #141414; }
      header nav ul {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        z-index: 4;
        padding: 30px 0;
        background: #fff;
        color: #141414; }
        header nav ul li {
          display: block;
          text-align: right;
          padding-right: 100px;
          padding-left: 30px;
          line-height: 24px;
          font-size: 16px; } }
  header .wrap {
    margin-top: 38px; }
    header .wrap > .title {
      opacity: 0.5;
      letter-spacing: 0.3em;
      margin-bottom: 30px; }
    header .wrap .date {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      margin-bottom: 25px;
      position: relative; }
      header .wrap .date:before {
        content: '';
        width: 65px;
        height: 1px;
        display: block;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -226px;
        background: #d53257; }
      header .wrap .date:after {
        content: '';
        width: 65px;
        height: 1px;
        display: block;
        position: absolute;
        top: 10px;
        right: 50%;
        margin-right: -220px;
        background: #d53257; }
  header h1 {
    font-size: 80px;
    line-height: 95px; }
    @media (max-width: 670px) {
      header h1 {
        font-size: 70px;
        line-height: 85px; } }
    @media (max-width: 600px) {
      header h1 {
        font-size: 40px;
        line-height: 60px; } }
  @media (max-width: 1200px) {
    header {
      background-position: right -30px top;
      background-size: cover; } }
  @media (max-width: 640px) {
    header .ticket-wrp {
      margin-top: 40px;
      max-width: 430px;
      margin-left: auto;
      margin-right: auto; }
      header .ticket-wrp .text ul {
        text-align: left; } }

.ticket-wrp {
  position: relative; }
  .ticket-wrp img {
    position: absolute;
    z-index: 1;
    display: block;
    left: -28px;
    top: -103px; }
  .ticket-wrp .text {
    max-width: 650px;
    margin-right: 0;
    margin-left: auto;
    padding-top: 10px; }
    .ticket-wrp .text button {
      padding: 0 10px; }
    .ticket-wrp .text p {
      font-size: 17px;
      line-height: 24px; }
      .ticket-wrp .text p.title {
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-transform: none;
        margin-top: 6px; }
  @media (max-width: 1200px) {
    .ticket-wrp img {
      width: 30%;
      height: auto;
      left: 2%;
      top: 50%;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
    .ticket-wrp .text {
      max-width: 65%; } }
  @media (max-width: 640px) {
    .ticket-wrp img {
      position: static;
      display: block;
      margin: 0 auto 20px;
      width: 300px;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .ticket-wrp .text {
      max-width: 100%; }
      .ticket-wrp .text h2 {
        text-align: center !important; }
      .ticket-wrp .text h2 {
        margin-top: 15px; }
      .ticket-wrp .text .about-form {
        text-align: center; } }

.start {
  background: #14181c url(../img/start_bg.jpg) no-repeat center top;
  color: black;
  padding: 150px 0 108px;
  position: relative; }
  @media (max-width: 980px) {
    .start {
      padding: 100px 0; } }
  @media (max-width: 450px) {
    .start {
      padding: 70px 0 40px; } }
  .start .title {
    letter-spacing: 0.5em;
    margin-bottom: 10px; }
  .start h2 {
    font-size: 55px;
    line-height: 72px; }
    @media (max-width: 450px) {
      .start h2 {
        font-size: 50px;
        line-height: 65px; } }
  .start:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin: 0 0 0 -9px; }

.again {
  background: url(../img/again_bg.png) no-repeat center top;
  padding: 130px 0 150px; }
  @media (max-width: 750px) {
    .again {
      padding: 80px 0 50px; } }
  @media (max-width: 640px) {
    .again {
      padding: 60px 0;
      background-size: cover; } }
  .again h2 {
    color: white;
    text-align: left;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 50px; }
    @media (max-width: 640px) {
      .again h2 {
        font-size: 60px;
        margin-bottom: 35px; } }
  .again ul li {
    color: #b9babb;
    font-size: 18px;
    margin-bottom: 15px; }
    .again ul li:before {
      width: 10px;
      background: url(../img/again_marker.png) 0 0; }

/*# sourceMappingURL=style_all.css.map */